@font-face {
    font-family: "Cookie";
    src: url(../fonts/Cookie-Regular.ttf);
}

body{
    font-family: "Cookie";
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 40px;
    text-decoration: underline;
}

th{
    background-color: black;
    color: #fff;
}

td:hover{
    background-color: rgb(160, 154, 154);
}